<div class="container mid-body">
  <div class="row">
    <div class="col-md-12 search-vehicle-header">
      <h2>Search Vehicle</h2>
    </div>
  </div>
  <div class="row search-vehicle">

    <div class="col-md-7 left-bock">
      <h4>By Vehicle Number</h4>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="search-query form-control" placeholder="353122" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <i class="fa fa-times"></i>
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-3 right-bock">
      <h4>Odometer</h4>
      <div id="custom-search-input">
        <div class="input-group col-md-12">
          <input type="text" class="search-query form-control" placeholder="10241" />
          <span class="input-group-btn">
            <button class="btn btn-danger" type="button">
              <i class="fa fa-pencil"></i>
            </button>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-2 update-block">
      <button class="btn update-btn" type="button">
        <i class="fa fa-rotate-right"></i>
      </button>
    </div>
  </div>
  <div class="row vehicle-info">

    <div class="col-md-8 vel-title">
      <h2>Vehicle Information</h2>
    </div>
    <div class="col-md-4 pull-right">
      <div class="vel-icon"><img src="/src/assets/images/delivery-truck.png" alt="VERIZON"></div>
      <div class="vel-cont">
        <p>Assigned Vehicle</p>
        <p>Status:<span> No DVIR Required</span></p>
      </div>
    </div>
  </div>
  <div class="clear-fix"></div>
  <div class="row blocks">
    <div class="inner-block col-md-3">
      <h4>Vehicle Details</h4>
     
    </div>
    <div class="inner-block col-md-3">
      <h4>Trailer Details</h4>
      
    </div>
    <div class="inner-block col-md-3">
      <h4>Original Odometer</h4>
     
    </div>
    <div class="inner-block col-md-3">
      <h4>Current DVIR Status</h4>
      
    </div>
  </div>
  <div class="row">
      <div class="inner-block col-md-3">
          
          <ul>
            <li>Vehicle Carrier DOT Number # 353122</li>
            <li>Gross Vehicle Weight Rating - 123456</li>
            <li>License Plate Number - CA 3456</li>
          </ul>
        </div>
        <div class="inner-block col-md-3">
         
          <ul>
            <li>Trailer Unit Number - 00067</li>
          </ul>
        </div>
        <div class="inner-block col-md-3">
          
          <ul>
            <li>10221</li>
          </ul>
        </div>
        <div class="inner-block col-md-3">
         
          <ul>
            <li>No DVIR Required</li>
          </ul>
        </div>

  </div>

  <div class="clear-fix"></div>
  <div class="row">
    <div class="col-md-12 checkbox">
      <label>
        <input id="checkbox3" type="checkbox">
        <span>I acknowledge that I understand the federal requirements as mandated by the regulations in 49 CFR
          $396.11 (Driver Vehicle Inspection Report(s).<br />
          I acknowledge that by choosing this option, I am overriding the federally mandated Driver Vehicle
          Inspection Report (DVIR) process with in my state.</span>
      </label>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12 trip-btns">
    <button type="button" class="btn pre-trip">Pre Trip Inspection</button>
    <button type="button" class="btn post-trip">Post Trip Inspection</button>
    <button type="button" class="btn exit">Exit</button>
  </div>
</div>
</div>