<header>
  <div class="container">
    <div class="row">
        <div class="col-md-2 logo"><a href="#"><img src="/src/assets/images/logo.jpg" alt="VERIZON"></a><span>VFleet</span></div>
        <div class="col-md-10 pull-right user-block">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">User name <i class="fa fa-angle-down"></i>
                <i class="fa fa-user-circle-o user-icon pull-right"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#">Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                <li class="divider"></li>
                <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
                <li class="divider"></li>
                <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
  </div>
</header>
<section>
  <div class="container">
    <div class="row">
      <nav class="navbar main-menu" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav add-stip">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-home"></i><b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav">
            <li><a href="#">Dashboard </a></li>
            <li><a href="#">Forms & Policies </a></li>
            <li><a href="#">Accidents & Insurance </a></li>
            <li><a href="#">DVIR </a></li>
            <li><a href="#">Helpdesk </a></li>
            <li><a href="#">About Us </a></li>
          </ul>
          <form class="navbar-form pull-right" role="search">
            <div class="input-group search-box">
              <input type="text" placeholder="Search">
              <div class="input-group-btn btn-top">
                <button class="btn btn-plus" type="submit"><i class="fa fa-search"></i></button>
                <button class="btn btn-plus right-plus" type="submit"><i class="fa fa-plus"></i></button>

              </div>
            </div>
          </form>
        </div><!-- /.navbar-collapse -->
      </nav>
    </div>
  </div>
</section>